---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zwave-claim
  namespace: zwave
  labels:
    app: zwave
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi