globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"
  - "--api.insecure=true"
  - "--api.dashboard=true"

deployment:
  enabled: true
  replicas: 1
  annotations: {}
  podAnnotations: {}
  additionalContainers: []

ingressRoute:
  dashboard:
    enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: "192.168.10.35"
  loadBalancerSourceRanges: []
  externalIPs: []

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true

logs:
  general:
    level: DEBUG

extraObjects:
- apiVersion: traefik.io/v1alpha1
  kind: IngressRoute
  metadata:
    name: traefik-dashboard
    namespace: traefik-system
    annotations: 
      kubernetes.io/ingress.class: traefik-external
  spec:
    entryPoints:
      - websecure
    routes:
      - match: Host(`192.168.10.35`)
        kind: Rule
        middlewares:
          - name: traefik-dashboard-basicauth
            namespace: traefik-system
        services:
          - name: api@internal
            kind: TraefikService
- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: traefik-dashboard-basicauth
    namespace: traefik-system
  spec:
    basicAuth:
      secret: traefik-dashboard-auth-secret