globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  - "--api.insecure=true"
  - "--api.dashboard=true"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

deployment:
  enabled: true
  replicas: 2
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
ports:
  web:
    redirectTo: websecure
ingressRoute:
  dashboard:
    enabled: true
service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: "192.168.10.35"
  loadBalancerSourceRanges: []
  externalIPs: []