---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: z2m-claim
  namespace: zigbee
  labels:
    app: z2m
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi
