apiVersion: traefik.io/v1alpha1
  kind: IngressRoute
  metadata:
    name: grafana-ingress
    annotations: 
      kubernetes.io/ingress.class: traefik-internal
  spec:
    entryPoints:
      - websecure
    routes:
      - match: Host(`grafana.moria-lab.com`)
        kind: Rule
        services:
          - name: grafana
            port: 80
    tls:
      secretName: moria-lab-cert